<form class="row" [formGroup]="form" (keydown.enter)="onSubmit(form)">
   <mat-form-field class="col-12">
      <input matInput placeholder="Nome da Etiqueta" formControlName="name" required>
   </mat-form-field>
   <mat-form-field class="col-9">
      <mat-label>Cor</mat-label>
      <mat-select class="rounded p-2" formControlName="color" [ngClass]="{'text-light': (selectedColor) }" [style.background]="selectedColor" (selectionChange)="selectColor($event)">
         <mat-option class="text-light" [value]="color.id" *ngFor="let color of colors" [style.background]="color.code">
            <span>{{(color.name || color.code)}}</span>
         </mat-option>
      </mat-select>
   </mat-form-field>
   <div class="col-3 my-auto">
      <button mat-raised-button (click)="openColorPickerDialog()">
         <mat-icon>add</mat-icon>
      </button>
   </div>
   <mat-dialog-actions class="col-12">
      <button type="button" color="primary" mat-raised-button [disabled]="form.invalid" (click)="onSubmit(form)">Criar</button>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
   </mat-dialog-actions>
</form>
