<div class="container">
   <div class="row">
      <div class="col-12 rounded shadow p-4 mt-4" style="height: 80vh;">
         <div class="row" style="height: 100%;">
            <div class="col-6" style="height: 80%;">
               <div class="row">
                  <div class="col-6">
                     <input type="text" placeholder="Insira o nome do checklist" class="form-control form-control-sm" [formControl]="checkListNameCtrl" #inp_nameChecklist>
                  </div>
                  <div class="col-6"></div>

                  <div class="col-12">
                     <hr>
                  </div>

                  <form class="row" [formGroup]="form" (ngSubmit)="addTarefa(form)">
                     <div class="col-8">
                        <input type="text" placeholder="Insira o nome da tarefa" class="form-control form-control-sm" formControlName="nomeTarefa">
                     </div>
                     <div class="col-4">
                        <button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid">Criar</button>
                     </div>
                  </form>

                  <span class="mt-3"></span>

                  <div class="example-container" style="height: 53vh;">
                     <h4>Itens não categorizados</h4>

                     <tree-root #tree [options]="options2" [focused]="true" [nodes]="itensNaoCategorizados" style="overflow: auto;">
                        <ng-template  #treeNodeWrapperTemplate let-node let-index="index">
                           <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                              <tree-node-expander [node]="node"></tree-node-expander>
                              <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive" [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)" (dblclick)="node.mouseAction('dblClick', $event)" (contextmenu)="node.mouseAction('contextMenu', $event)" (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">

                                 <tree-node-content [node]="node" [index]="index"></tree-node-content>
                              </div>

                              <i class="fas fa-times" style="margin-left: 12px; margin-top: auto; margin-bottom: auto;" (click)="removerChecklistEtapa(node)"></i>
                           </div>
                        </ng-template>
                     </tree-root>
                  </div>
               </div>
            </div>
            <div class="col-6" style="height: 95%;">
               <div class="row">

                  <div class="col-12" style="height: 62vh;">
                     <h4>Itens categorizados</h4>

                     <tree-root [options]="options" [focused]="true" [nodes]="itensCategorizados" style="overflow: auto;"></tree-root>
                  </div>

               </div>
            </div>

            <div class="col-12 text-end">
               <button type="button" class="btn btn-success" style="width: 160px;" [disabled]="inp_nameChecklist.value.length < 3" (click)="onSubmit()">Avançar</button>
            </div>
         </div>
      </div>
   </div>
</div>
