<mat-card class="card-ticket">
   <mat-card-content>
      <p>{{ticket.title}}</p>
      <span class="card-text small">{{ (ticket.description.length > 90) ? (ticket.description | slice:0:87) + '...' : (ticket.description) }}</span>
      <!-- <div *ngIf="tags">
         <mat-chip-list>
            <mat-chip [style.background]="tag?.color ? tag.color : '#e0e0e0'" *ngFor="let tag of tags" selectable="false">{{tag?.name}}</mat-chip>
         </mat-chip-list>
      </div> -->

      <mat-icon (click)="delete.next()" class="icon">cancel_outline</mat-icon>
   </mat-card-content>

   <mat-card-actions>
      <button mat-button (click)="edit.next()">EDIT</button>
   </mat-card-actions>
</mat-card>
