<mat-card class="card-ticket">
   <mat-card-content>
      <mat-icon (click)="delete.next()" class="icon-trash text-danger">delete</mat-icon>

      <div *ngIf="tags" class="mb-3">
         <mat-chip-list>
            <mat-chip [style.background]="tag?.color ? tag.color : '#C0C0C0'" *ngFor="let tag of tags" (click)="hideTagName()" style="min-height: 25px; min-width: 35px; cursor: pointer;"><small class="tagName">{{tag?.name}}</small></mat-chip>
         </mat-chip-list>
      </div>
      <h6 class="text-break mb-3">{{ticket.title}}</h6>

      <!-- <span class="card-text text-break small">{{ (ticket.description.length > 90) ? (ticket.description | slice:0:87) + '...' : (ticket.description) }}</span> -->

   </mat-card-content>

   <mat-card-actions>
      <mat-icon class="clickable" *ngIf="ticket.description" matTooltip="Este ticket contém uma descrição.">description</mat-icon>
      <mat-icon class="clickable icon-info" matTooltip="Ver informações do ticket." (click)="edit.next()">info</mat-icon>
   </mat-card-actions>
</mat-card>
