<div class="box">
   <div class="col-auto" style="padding-right: 0;">
      <div class="wrapper" dragula="COLUMNS" [(dragulaModel)]="columnsAndTickets" (dragulaModelChange)="moveColumn($event)">
         <div class="example-container rounded shadow-lg" *ngFor="let column of columnsAndTickets; let i = index">
            <div class="mb-3 text-dark p-2 bg-light rounded-top">
               <div class="row">
                  <div class="col-9">
                     <h5 class="group-handle" style="max-height: 24px;">
                        <span contenteditable (blur)="editColumnName($event, column)">{{column.columnName}}</span>
                     </h5>
                  </div>
                  <div class="col-3 dropend text-end">
                     <button type="button" class="btn btn-sm">
                        <i class="fas fa-ellipsis-h"></i>
                     </button>
                  </div>
               </div>
            </div>
            <div id="ticketList" style="max-height: 68vh; overflow-y: auto; overflow-x: hidden;">
               <div class="p-2 py-0" dragula="ITEMS" [(dragulaModel)]="column.ticketList" (dragulaModelChange)="moveTicket($event)" style="min-height: 20px;">
                  <div class="card text-dark bg-light mb-3" *ngFor="let ticket of column.ticketList">
                     <div class="card-header px-2 py-1">
                        <span class="small" contenteditable (blur)="editTicketName($event, ticket)">{{ticket.ticketName}}</span>
                        <span class="float-end" style="cursor: pointer;" (click)="openDialogEditTicket(ticket)">
                           <i class="fas fa-edit" style="font-size: 15px"></i>
                        </span>
                     </div>
                     <div class="card-body p-2" style="min-height: 40px; max-height: 85px;">
                        <span class="card-text small">{{ (ticket.description.length > 90) ? (ticket.description | slice:0:87) + '...' : (ticket.description) }}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="p-2 mt-3 pt-0">
               <div class="collapse mb-3" id="{{'collapseCreateTicket' + i}}">
                  <div class="card card-body">
                     <form class="input-group" [formGroup]="formTicket">
                        <input
                           type="text"
                           id="{{'inputTicket' + i}}"
                           class="form-control form-control-sm"
                           placeholder="Insira o nome do ticket"
                           formControlName="nameTicket"
                           (keypress)="addTicket($event, column.columnId)">

                        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addTicket($event, column.columnId)" [disabled]="formTicket.invalid"><i class="fas fa-plus"></i></button>
                     </form>
                     <small class="text-danger mt-2" *ngIf="formTicket.controls.nameTicket.invalid && !formTicket.controls.nameTicket.pristine">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 8px;"></i>Este campo deve conter no mínimo 3 caracteres.
                     </small>
                  </div>
               </div>

               <button type="button" class="btn btn-sm btn-secondary w-100" id="{{'btnCollapse' + i}}" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseCreateTicket' + i" aria-expanded="false" (click)="focusInput('inputTicket'+i)">
                  <i class="fas text-light fa-plus-circle" style="margin-right: 15px;"></i>Adicionar Ticket
               </button>
            </div>
         </div>
      </div>
   </div>
   <div style="padding-left: 0; width: 250px;">
      <button type="button" class="btn btn-sm btn-secondary w-100" id="btnCollapseAddColumn" data-bs-toggle="collapse" data-bs-target="#collapseCreateColumn" aria-expanded="false" (click)="focusInput('inputColumn')">
         <i class="fas fa-plus" style="margin-right: 15px;"></i>Adicionar outra lista
      </button>

      <div class="collapse mt-2" id="collapseCreateColumn">
         <div class="card card-body">
            <form class="input-group" [formGroup]="formColumn">
               <input type="text" class="form-control form-control-sm" id="inputColumn" placeholder="Insira o nome da lista" maxlength="18" formControlName="nameColumn" (keypress)="addColumn($event)">
               <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addColumn($event)" [disabled]="formColumn.invalid"><i class="fas fa-plus"></i></button>
            </form>
            <small class="text-danger text-break mt-2" *ngIf="formColumn.controls.nameColumn.invalid && !formColumn.controls.nameColumn.pristine">
               <i class="fas fa-exclamation-triangle" style="margin-right: 8px;"></i>Este campo deve conter entre 3 e 18 caracteres.<br>
            </small>
         </div>
      </div>
   </div>
</div>

