.example-container {
   width: 270px;
   max-width: 100%;
   margin: 0 25px 25px 0;
   display: inline-block;
   vertical-align: top;
   border: solid 1px #ccc;
}

.example-list {
   min-height: 60px;
   background: white;
   border-radius: 4px;
   overflow: hidden;
   display: block;
}
