:host {
   display: block;
   margin-bottom: 8px;
}

.mat-card-content {
   margin-bottom: 0;
}

.align-end {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.mat-chip-list {
   display: block;
   margin-top: 12px;
}

.mat-card-image {
   object-fit: cover;
   object-position: top;
   max-height: 150px;
}

.card-ticket {
   position: relative;
   min-height: 80px;
}

.icon-trash {
   cursor: pointer;
   position: absolute;
   right: 6px;
   top: 10px;
}

.icon-info {
   cursor: pointer;
   position: absolute;
   right: 6px;
   bottom: 10px;
}

.icon-description {
   cursor: pointer;
   position: absolute;
   right: 30px;
   top: 10px;
}

.creationDateText {
   position: absolute;
   left: 5px;
   bottom: 10px;
}

.list-assignedTo {
   position: absolute;
   right: 5px;
   bottom: 3px;
}

.list-tags {
   top: 0px;
}

.member {
   background-color: #dfe1e6;
   border-radius: 25em;
   color: #172b4d;
   cursor: pointer;
   display: block;
   float: left;
   height: 32px;
   margin: 0 4px 4px 0;
   overflow: visible;
   position: relative;
   text-decoration: none;
   -webkit-user-select: none;
   user-select: none;
   width: 32px;
   z-index: 0;
}

.member-initials {
   display: block;
   font-size: 12px;
   font-weight: 700;
   height: 32px;
   left: 0;
   line-height: 32px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 0;
   width: 100%;
}

span.badge {
   margin-left: 8px;
}

mat-chip.text-light {
   min-height: 20px;
   min-width: 35px;
   cursor: pointer;
}

mat-card {
   padding-top: 5px !important;
}
