<mat-card class="card-ticket">
   <mat-card-content>
      <mat-icon class="icon-trash text-danger" [matTooltip]="'Excluir ticket.'" (click)="delete.next()">delete</mat-icon>

      <div class="list-tags" *ngIf="tags">
         <mat-chip-list>
            <mat-chip class="text-light" *ngFor="let tag of tags" [matTooltip]="tag?.name" [style.background]="tag?.color.code ? tag.color.code : '#C0C0C0'" (click)="compressTags()">
               <small class="tagName d-none" [textContent]="tag?.name"></small>
            </mat-chip>
         </mat-chip-list>
      </div>

      <div class="clickable" (click)="edit.next()" style="min-height: 30px; margin-top: 15px;">
         <h6 class="text-break" [textContent]="ticket.title"></h6>
      </div>
   </mat-card-content>

   <mat-card-actions>
      <span class="badge" [style.background]="background" [style.color]="textColor" [textContent]="(dateDisplayed) | date: 'dd/MMM HH:mm'"></span>

      <mat-icon class="clickable icon-description" *ngIf="ticket.description" [matTooltip]="'Este ticket contém uma descrição.'">description</mat-icon>
      <div class="list-assignedTo" *ngIf="ticket.assignedTo.length !== 0">
         <div class="member" *ngFor="let item of ticket.assignedTo" [matTooltip]="item.name">
            <span class="member-initials" [textContent]="item?.name[0]"></span>
         </div>
      </div>
   </mat-card-actions>
</mat-card>
