<form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form)" (keypress.enter)="onSubmit(form)">
   <div class="row">
      <div class="col-12 mb-3">
         <span class="float-end" style="cursor: pointer" [mat-dialog-close]="data.column"><i class="fas fa-times"></i></span>
      </div>
      <div class="col-12">
         <div class="rounded-top p-1 px-2" style="background-color: rgb(194, 199, 204);">
            <small>Adicionar Ticket</small>
         </div>
         <div class="border border-top-0 rounded-bottom p-3">
            <div class="row h-100">
               <mat-form-field class="col-12">
                  <input matInput placeholder="Nome ticket" required formControlName="title">
               </mat-form-field>
            </div>
         </div>
      </div>
   </div>
</form>
