<mat-toolbar style="background-color: indigo; color: white;">
   <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerReceived.toggle()">
         <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>7Rello</span>

      <span style="margin-left: 40%;">{{currentBoard?.name}}</span>

      <span class="spacer"></span>

      <small style="margin-right: 15px;">Olá, {{loggedUser.people.name}}</small>

      <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
         </button>
         <!-- <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
         </button>
         <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
         </button> -->
      </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>
