.sidenav {
   width: 270px;
}

mat-nav-list {
   padding: 10px;
}

.sidenav .mat-toolbar {
   background: inherit;
}

.mat-toolbar.mat-primary {
   position: sticky;
   top: 0;
   z-index: 1;
   flex-shrink: 0;
}

.mat-sidenav-content {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.tree-invisible {
   display: none;
}

.tree ul,
.tree li {
   margin-top: 0;
   margin-bottom: 0;
   list-style-type: none;
}

mat-nested-tree-node li {
   cursor: pointer;
}

mat-nested-tree-node li ul:hover {
   font-weight: bold;
}
