.custom-height {
   height: calc(90vh - 130px);
}

.comments-div {
   height: calc(90vh - 566px);
   overflow-x: hidden;
   overflow-y: auto;
}

[contenteditable] {
   outline: 0;
}

.files-list {
   //margin-top: 1.5rem;

   .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;

      img.delete {
         margin-left: 0.5rem;
         cursor: pointer;
         align-self: flex-end;
      }

      display: flex;
      flex-grow: 1;

      .name {
         font-size: 14px;
         font-weight: 500;
         color: #353f4a;
         margin: 0;
      }

      .size {
         font-size: 12px;
         font-weight: 500;
         color: #a4a4a4;
         margin: 0;
         margin-bottom: 0.25rem;
      }

      .info {
         width: 100%;
      }
   }
}

.member {
   background-color: #dfe1e6;
   border-radius: 25em;
   color: #172b4d;
   cursor: pointer;
   display: block;
   float: left;
   height: 32px;
   margin: 0 4px 4px 0;
   overflow: visible;
   position: relative;
   text-decoration: none;
   -webkit-user-select: none;
   user-select: none;
   width: 32px;
   z-index: 0;
}

.member-initials {
   display: block;
   font-size: 12px;
   font-weight: 700;
   height: 32px;
   left: 0;
   line-height: 32px;
   overflow: hidden;
   position: absolute;
   text-align: center;
   top: 0;
   width: 100%;
}
