<app-navbar-dashboard></app-navbar-dashboard>

<div class="container mt-5">
   <div class="row">
      <div class="col-6">
         <div class="row mb-2">
            <div class="col-10">
               <h4>Usuários</h4>
            </div>
            <div class="col text-end">
               <button mat-icon-button (click)="openAddUserDialog()">
                  <mat-icon>person_add</mat-icon>
               </button>
            </div>
         </div>
         <table class="w-100 border shadow" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="position">
               <th mat-header-cell *matHeaderCellDef> * </th>
               <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef> Nome </th>
               <td mat-cell *matCellDef="let element"> {{element.people.name}} </td>
            </ng-container>

            <ng-container matColumnDef="login">
               <th mat-header-cell *matHeaderCellDef> Login </th>
               <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>

            <ng-container matColumnDef="password">
               <th mat-header-cell *matHeaderCellDef> Senha </th>
               <td mat-cell *matCellDef="let element"> {{element.password}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
      </div>
   </div>
</div>
